.container-message-sent {
  background: #282c34;
}

.message-sent {
  color: white;
}

.container-message-received {
  background: gainsboro;
}

.message-received {
  color: blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
